<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>Restaurant Ratings by MM</h1>
    <hr>
    <div class="restaurant">
    <form method="post">
        <p>
            <b><label for="restaurant">Rating restaurant</label></b>
        </p>
        <p>
            <input type="text" name="restaurant"
                placeholder="Restaurant"></input>
        </p>

        <p>
            <b><label for="rating">Rating</label></b>
        </p>
        <p>
            <input id="rating-1" name="rating" required type="radio" value="1">
            <label for="rating-1">1</label>
        </p>
        <p>
            <input id="rating-2" name="rating" required type="radio" value="2">
            <label for="rating-2">2</label>
        </p>
        <p>
            <input id="rating-3" name="rating" required type="radio" value="3">
            <label for="rating-3">3</label>
        </p>
        <p>
            <input id="rating-4" name="rating" required type="radio" value="4">
            <label for="rating-4">4</label>
        </p>
        <p>
            <input id="rating-5" name="rating" required type="radio" value="5">
            <label for="rating-5">5</label>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for rating in ratings %}
        <div class="rating">
            <p>{{ rating['restaurant'] }} <i>({{ rating['rating']}})</i></p>
            <form method="POST" action="{{ url_for('delete', id=rating['_id']) }}">
                <input  type="submit" value="Delete Rating"
                        onclick="return confirm('Are you sure you want to delete this rating?')">
            </form>
            <form method="POST" action="{{ url_for('update', id=rating['_id']) }}">
                <details>
                    <summary>Update rating</summary>
                    <div class="restaurant">
                        <p>
                            <input type="text" name="restaurant"
                                placeholder="Restaurant"></input>
                        </p>
                        <p>
                            <input id="rating-1" name="rating" required type="radio" value="1">
                            <label for="rating-1">1</label>
                        </p>
                        <p>
                            <input id="rating-2" name="rating" required type="radio" value="2">
                            <label for="rating-2">2</label>
                        </p>
                        <p>
                            <input id="rating-3" name="rating" required type="radio" value="3">
                            <label for="rating-3">3</label>
                        </p>
                        <p>
                            <input id="rating-4" name="rating" required type="radio" value="4">
                            <label for="rating-4">4</label>
                        </p>
                        <p>
                            <input id="rating-5" name="rating" required type="radio" value="5">
                            <label for="rating-5">5</label>
                        </p>
                        <input  type="submit" value="Update Rating"
                                onclick="return confirm('Update this rating?')">
                    </div>
                  </details>
            </form>
        </div>
    {% endfor %}

    </div>
</body>
</html>
